/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 850px;
    height: 500px;
    background-color: silver;
    margin: 0 auto;
    padding: 20px;
}
.top-nav {
    height: 120px;
    background-color: green;
}
.side-nav {
    height: 290px;
    width: 200px;
    background-color: blue;
}
.main {
    height: 360px;
    width: 700px;
    background-color: red; 
    padding:0 20px ;
}
.sub-content {
    height: 200px;
    width: 200px;
    background-color: yellow;
}
#advertisement {
    height: 100px;
    width: 640px;
    background-color: purple;
}
.row {
    /* TODO - what should go here? */
    display : flex;
    padding: 20px 0;
    gap: 20px;
}

